<p>
  <strong>Name:</strong>
  <em><%= @user.name %></em>
</p>

<p>
  <strong>Email:</strong>
  <em><%= @user.email %></em>
</p>

<p>
  <strong>Hosted events:</strong>
  <ul>
  <% @user.events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Attended events:</strong>
  <ul>
  <% @user.attended_events.each do |attending| %>
    <li><%= link_to attending.name, attending %></li>
  <% end %>
  </ul>
</p>

<% if current_user == @user %>
  <td><%= link_to 'Edit', edit_user_registration_path %></td>
<% end %>